<div class= "bg-grass h-screen relative ">

  <div class="text-white text-left text-xl font-semibold capitalize mb-2.5 ml-2.5">Picachu </div>

  <div class="absolute inset-x-80 top-24 ">
    <svg width="280" height="280" viewBox="0 0 280 280" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M207.5 153.689C202.411 186.311 174.107 211.289 139.911 211.289C105.714 211.289 77.4108 186.311 72.3215 153.689H0.000106812C6.8751 224.533 66.9644 280 140 280C213.036 280 273.036 224.533 280 153.689H207.5Z" fill="#FEFEFE" fill-opacity="0.2"/>
    <path d="M140 196.408C168.995 196.408 192.5 173.008 192.5 144.142C192.5 115.276 168.995 91.875 140 91.875C111.005 91.875 87.5 115.276 87.5 144.142C87.5 173.008 111.005 196.408 140 196.408Z" fill="#FEFEFE" fill-opacity="0.2"/>
    <path d="M73.6607 126.311C81.25 96.8889 108.036 75.1111 140 75.1111C171.964 75.1111 198.75 96.8889 206.25 126.311H279.911C273.036 55.4667 212.946 0 140 0C66.9643 0 6.875 55.4667 0 126.311H73.6607Z" fill="#FEFEFE" fill-opacity="0.2"/>
    </svg>
  </div>

  <div class="bg-white absolute inset-x-0 bottom-0 h-1/2 rounded-t-3xl"> hola</div>




</div>