/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .bg-grass {
  background-color: #6BA497;
 }
  .bg-fire {
    background-color: #FF8F7B;
  }
  .bg-water {
    background-color: #84C2FF;
  }
  .bg-bug {
    background-color: #CCD77B;
  }
  .bg-steel {
    background-color: #9FACA9;
  }
  .bg-dragon {
    background-color: #C882F3;
  }
  .bg-electric {
    background-color: #FFE55B;
  }
  .bg-ghost {
    background-color: #7465CF;
  }
  .bg-fairy {
    background-color: #EFAEFF;
  }
  .bg-ice {
    background-color: #AACEF1;
  }
  .bg-fight {
    background-color: #A99A89;
  }
  .bg-normal {
    background-color: #DAD7C9;
  }
  .bg-psychic {
    background-color: #F44987;
  }
  .bg-rock {
    background-color: #898F71;
  }
  .bg-sinester {
    background-color: #4F4A46;
  }
  .bg-ground {
    background-color: #C69C05;
  }
  .bg-poison {
    background-color: #7B30A9;
  }
  .bg-flying {
    background-color: #C2D9DE;
  }
  .hidden {
    display: none;
  }
  .tex-color {
    color: #636262;
  }
}
