<div class="bg-white h-20 mb-16 ml-32 ">

  <nav class="hidden sm:flex flex justify-between " aria-label="Breadcrumb">

    <div class= "mt-14">
      <ol class="flex items-center ">
        <div class= "mr-20"> <%= render 'layouts/logo' %></div>
        <li>
          <div>
            <%= link_to "Pokemones", pokemons_path, class: "text-sm font-medium text-gray-500 hover:text-black mr-20"  %>
          </div>
        </li>

        <li>
          <div>
            <%= link_to "Favoritos", favorites_path, class: "text-sm font-medium text-gray-500 hover:text-black mr-20"  %>
          </div>
        </li>
        <li>
          <div>
            <a href="" class="ml-4 text-sm font-medium text-gray-500 hover:text-black">Estadisticas</a>
          </div>
        </li>
      </ol>
    </div>

    <div class= "relative"><svg width="200" height="184" viewBox="0 0 222 238" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M222.321 102.667C216.869 137.619 186.543 164.381 149.904 164.381C113.265 164.381 82.9401 137.619 77.4873 102.667L0.00012207 102.667C7.36619 178.571 71.7475 238 150 238C228.253 238 292.538 178.571 300 102.667H222.321Z" fill="#F1F0F0" fill-opacity="0.5"/>
    <path d="M150 148.437C181.066 148.437 206.25 123.365 206.25 92.4375C206.25 61.5096 181.066 36.4375 150 36.4375C118.934 36.4375 93.75 61.5096 93.75 92.4375C93.75 123.365 118.934 148.437 150 148.437Z" fill="#F1F0F0" fill-opacity="0.5"/>
    <path d="M78.9222 73.3333C87.0535 41.8095 115.753 18.4762 150 18.4762C184.247 18.4762 212.946 41.8095 220.982 73.3333H299.904C292.538 -2.57145 228.157 -62 150 -62C71.7474 -62 7.36607 -2.57145 0 73.3333H78.9222Z" fill="#F1F0F0" fill-opacity="0.5"/>
    </svg>
      <div class=" absolute left-14 top-14  flex-shrink-0 flex md:mt-0 md:ml-4 mr-14">
        <button type="button" class=" w-16 h-10 ml-3 text-center px-2  border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-500 bg-gray-300 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
          <a href="">Login</a>
        </button>
      </div>
    </div>

  </nav>
</div>